body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#star-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.star {
    width: 40px;
    height: 40px;
    transition: 0.3s;
}